/* main body for books  */

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #92b3aa; /* Light background for contrast */
  padding-top: 70px; /* Make sure this matches your nav bar's height */
}


/* search title and author book  */
.book-card {
  border: 3px solid rgb(13, 70, 30);

  padding: 40px;
  margin: 30px auto;
  width: 600px;
  text-align: center;
  border-radius: 50px;
  background-image: url('../../public/images/marbled-8050572_1280.png');
  background-size: cover; /* Ensure the background image covers the card fully */
  background-position: center; /* Center the background image */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-center {
  color: rgb(1, 57, 0);
  font-size: 1.5rem; /* Adjust font size for better readability */
  margin-bottom: 20px; /* Space below the text */
}

/* animation for welcoming user */

.username-color {
  color: rgb(255, 255, 255);
  margin-top: 1rem;
  opacity: 0; /* Initially hidden */
  transform: translateY(-30px) scale(0.9); /* Start 30px above and slightly smaller */
  animation: fadeInBounce 1.5s ease-out forwards, colorChange 15s ease-in-out infinite; /* Enhanced with color change */
  font-size: 4rem; /* Slightly larger font size */
  text-align: center; /* Center the text */
  font-weight: bolder;
  animation-fill-mode: forwards; /* Keep the final state after the animation */
  letter-spacing: 0.05rem;
}

@keyframes fadeInBounce {
  0% {
    opacity: 0;
    transform: translateY(-30px) scale(0.9); /* Start offscreen above and scaled down */
  }
  60% {
    opacity: 1;
    transform: translateY(10px) scale(1.1); /* Slightly overshoot for bounce */
  }
  80% {
    transform: translateY(-5px) scale(1.05); /* Bounce back up */
  }
  100% {
    transform: translateY(0) scale(1); /* End at natural position */
    opacity: 1; /* Ensure opacity is fully visible */
  }
}

/* preview info question mark */

.book-description-content {
  background-color: #f9f9f9; /* Subtle off-white background */
  border: 1px solid #e0e0e0; /* Light gray border for definition */
  border-radius: 8px; /* Rounded corners for a softer look */
  padding: 1rem; /* Adequate padding for spacing */
  margin: 0.5rem 1rem 0.5rem 0.5rem; /* Consistent margins */
  color: #333; /* Softer text color for better readability */
  font-family: 'Arial', sans-serif; /* Clean, modern font */
  line-height: 1.6; /* Improved line spacing for readability */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  transition: transform 0.2s, box-shadow 0.2s; /* Smooth hover animation */
}

.book-description-content:hover {
  transform: translateY(-5px); /* Slight lift on hover */
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15); /* Enhanced shadow on hover */
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* whole card for each book */
.book-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
  z-index: 1; /* Ensures the content is on top */
  padding: 20px; /* Add padding so the text isn't too close to the edge */
  background-color: #fff; /* White background for text readability */
  border: 1px solid #ccc; /* Light border to frame the content */
  border-radius: 8px; /* Rounded corners for a softer look */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow for a subtle 3D effect */
  font-family: 'Times New Roman', serif; /* Classic book font */
  text-align: center; /* Center-align text */
  line-height: 1.5; /* Improve readability */
}

.book-info::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../public/images/marbled-8050572_1280.png');
  background-size: cover;
  background-position: center;
  filter: blur(10px); /* Adjust the blur strength */
  opacity: 0.8; /* Slightly transparent to soften the background */
  z-index: -1; /* Puts the background behind the content */
  border-radius: 8px; /* Match the border radius of the content */
}

/* Optional: Add a heading style */
.book-info h1,
.book-info h2,
.book-info h3 {
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', serif; /* Consistent book font for headings */
}

/* Optional: Style links within .book-info */
.book-info a {
  color: #007bff; /* Blue color for links */
  text-decoration: none; /* Remove underline */
}

.book-info a:hover {
  text-decoration: underline; /* Underline on hover for better usability */
}



.title-author {
  color: #707070; /* Use a dark gray for a more sophisticated look */
  font-size: 1rem; /* Set a reasonable font size */
  font-family: 'Arial', sans-serif; /* Choose a clean, modern font */
  text-align: center; /* Center the text */
  margin-top: 10px; /* Add space above */
  margin-bottom: 10px; /* Add space below */
  position: relative; /* Keep position relative for potential adjustments */
}

.title-author .title {
  font-weight: bold; /* Make the title stand out */
  font-size: 1.2rem; /* Slightly larger font size for the title */
}



.book-image {
  width: 100%; /* Ensure image width takes full space available */
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
 
}

.book-details img {
  max-width: 80%;
  height: auto;
  object-fit: cover;
  margin-bottom: 16px;
  cursor: pointer;
}

.rating-title-author {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}




.author-name {
  font-size: 1rem;
  color: #000000;
  margin-bottom: 10px;
}

.book-rating {
  margin-bottom: 20px;
}

.book-categories {
  font-size: 0.9rem;
  color: #1d3731;
  margin-bottom: 10px;
}

.book-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.book-description-pop {
  position: absolute;
  top: 0; /* Aligns the popup to the top of the book component */
  left: 0; /* Aligns the popup to the left of the book component */
  z-index: 10; /* Ensure the popup appears above other elements */
  width: 100%; /* Take full width of the book component */
 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow for depth */
  padding: 10px;
  border-radius: 5px;
  font-size: 0.9rem;
  transition: opacity 0.3s ease; /* Fade-in effect */
}

.book-container {
  position: relative; 
  

}
.book-description-wrapper {
  position: absolute;
  top: 0; /* Adjust to your preferred position */
  left: 0;
  width: 100%; /* Ensure it spans the whole card width */
  background-color: white; /* Or your preferred background */
  padding: 20px;
  z-index: 1000; /* Ensure it is higher than other elements */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional shadow for better visibility */
}




.custom-button-primary {
  background-color: #608465; /* Neutral gray for minimalism */
  border-radius: 8px; /* Slightly smaller, rounder edges */
  padding: 6px 12px; /* Smaller padding for a compact look */
  font-size: 14px; /* Adjusted font size */
  color: white; /* White text for contrast */
  border: none; /* Remove border for cleaner design */
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.custom-button-primary:hover {
  background-color: #83b089; /* Subtle hover effect */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add a minimal shadow */
}

/* Button group for better spacing */
.button-group {
  display: flex;
  justify-content: space-between;
  gap: 8px; /* Reduced gap for tighter button layout */
  margin-top: 8px; /* Less margin for a compact layout */
}
.text-muted{
  color:white;
  background-color: white;
}
.card-body {
  position: relative;
}
.custom-button-primary.ms-auto {
  position: absolute;
  top: 10px; /* Adjust this value to move the button higher */
  right: 10px; /* Adjust this value to move the button further right if needed */
  z-index: 1; /* Ensure the button is above other content */
}
/* Custom style for the question button */
.question-button {
  background-color: #608465 !important; /* Force override */
  color: rgb(0, 0, 0) !important;
  border: none !important;
  padding: 6px 12px !important;
  border-radius: 5px !important;
  font-size: 12px !important;
  cursor: pointer !important;
  position: absolute !important; /* Ensure it's positioned correctly */
  top: -21px !important;
  right: -21px !important;
}


.question-button:hover {
  background-color: #89bf90 !important; /* Darken color on hover */
  color: rgb(255, 255, 255) !important;
  transform: translateY(-2px) !important; /* Slight hover effect */
}

.question-button:active {
  background-color: #82b189 !important; /* Even darker color when pressed */
  transform: translateY(1px) !important; /* Pressed effect */
}

/* Log In page  */

.card-body{
  background-color: rgb(225, 225, 225);
}
.form-group{
  background-color: #f2f4f2;
}
