/* HomePage.css */

.jumbotron {
  position: relative;
  overflow: hidden;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}

.book-icon i {
  animation: bounce 2s infinite;
}

.intro-home {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.btn {
  transition: transform 0.2s ease-in-out, background-color 0.3s;
}

.btn:hover {
  transform: scale(1.05);
  background-color: #2c7a6e !important;
  color: white !important;
}
